{% extends 'index.html' %}

{% block content %}

<div class="container-fluid p-2">
  <img class="img-fluid" alt="yathasone_cover" src="https://lh3.googleusercontent.com/pw/AM-JKLU0rKtQcZHy9dYgLCLb582CPXTzI74rhHOMC_TOEYZGgWnOCG74cXt9HA_veM45CDpe_7U6_kgbf0Z7smwblUK5HtSQcFsw2Dem4HXzZohE4PccQCl0aGl8ubz9mvE-vyP9R-McmNcUXJusS01KPkY=w1280-h427-no?authuser=0">
</div>
  
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

{% endblock %}